.title::before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(90deg, white 0%, white 100%), linear-gradient(90deg, white 0%, white 100%), radial-gradient(ellipse at center, #ffc514 0%, #ffc514 50%, rgba(255, 197, 20, 0) 50%, rgba(255, 197, 20, 0) 100%);
    background-repeat: no-repeat;
    background-size: 20px 2px, 7px 2px, 7px 7px;
    background-position: 0 50%, 27px 50%, 43px 50%;
    width: 51px;

}

@media (min-width: 768px){
    .title::before{
        background-size: 50px 2px, 10px 2px, 7px 7px;
        background-position: 0 50%, 57px 50%, 73px 50%;
        width: 91px;
    }
}