@tailwind base;
@tailwind components;
@tailwind utilities;

html {
scroll-behavior: smooth !important; 
}

body{
    margin: 0;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.75;
    color: #cfcfcf;
    text-align: left;
    background-color: #19232b;
}